<h1>Add a contact</h1>
<div class="contact_form">
	<form action="/add_contact" method="post">
		First name <input name="first_name" type="text">
		Last name <input name="last_name" type="text">
		Email <input name="email" type="text">
		Phone <input name="phone" type="text">
		Category <input name="category" type="text">
		<button type="submit">Add contact</button>
	</form>
</div>