<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<header>
	<div>
		<h1>Contacts</h1>
	</div>
</header>
<body>
	<a href="/">Home</a>
	<div>
		<%== yield %>
	</div>
</body>
</html>